$select-bg: transparentize(lighten($color-yellow, 10), 0.5);

::selection{
  background: $select-bg;
  color: inherit;
  text-shadow: none;
}
::-moz-selection{
  background: $select-bg;
  color: inherit;
  text-shadow: none;
}
::-webkit-selection{
  background: $select-bg;
  color: inherit;
  text-shadow: none;
}
