<!doctype html>
<html class="no-js" lang="si">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">

  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="assets/css/style.min.css" rel="stylesheet">

  {% block headAfter %}
  {% endblock %}
</head>
{# The whole body block can be overriden if needed #}
{% block body %}
  <body>
  <!-- For dark theme add class 'dark' for body.  -->
  <!-- For light theme add class 'light' for body.  -->
    <div class="wrapper">
      {% block header %}
      {% endblock %}

      <main class="main" role="main">
        {% block main %}
        {% endblock %}
      </main>

      {% block footer %}
        {% include 'components/footer.njk' %}
      {% endblock %}
    </div>
    {% include "partials/scripts.njk" %}
  </body>
{% endblock %}
</html>
