<header class="header container" role="banner">
  <a href="index.html" class="btn header_logo">
    <img src="assets/img/polosa.svg" alt="Polosa Media Logo" />
  </a>
  <a class="btn btn-default btn-square header_close" href="index.html" id="articleClose"><span>Закрыть</span></a>
</header>
