<header class="header container" role="banner">
  <a href="/" class="btn header_logo">
    <img src="assets/img/polosa.svg" alt="Polosa Media Logo" />
  </a>
  <a class="btn btn-default header_close" href="/" id="articleClose"><span>Закрыть</span></a>
</header>
