<footer class="footer wrapper" role="contentinfo">
  <div class="footer_info">
    <p class="footer_about">Издание Polosa. Свидетельство о регистрации средства массовой информации Эл № ФС77-73908 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) от 12 октября 2018 года.</p>
    <p class="footer_copyright">© 2007-2020 Gazeta.SPb</p>
  </div>
  <nav class="footer_nav container">
    <a href="" class="btn btn-default nav_link">Редакция</a>
    <a href="" class="btn btn-default nav_link">О проекте</a>
    <a href="" class="btn btn-default nav_link">Контакты</a>
  </nav>
</footer>
