<footer class="footer" role="contentinfo">
  <div class="wrapper container">
    <div class="footer_info">
      <a href="index.html" class="btn footer_logo">
        <img src="assets/img/logo.svg" alt="Polosa Media Logo" />
      </a>
      <p class="footer_about">
        Свидетельство о регистрации СМИ ЭЛ № ФС 68466 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)
      </p>
      <p class="footer_about">
        Информационный новостной сайт «Полоса». Все права защищены. При цитировании информации активная гиперссылка на Polosa.io обязательна. Редакция не несет ответственности за информацию и мнения, высказанные в комментариях читателей и новостных материалах, составленных на основе сообщений читателей.
      </p>
      <p class="footer_about">
        Главный редактор: Газов Р.Х. <br/>
        Адрес электронной почты редакции: <a href="mailto:Roodino@yandex.ru" class="btn">Roodino@yandex.ru</a>
      </p>
      <p class="footer_copyright">© 2020 Полоса</p>
    </div>
    <nav class="footer_nav container">
      <a href="" class="btn btn-default btn-square nav_link">О проекте</a>
      <a href="" class="btn btn-default btn-square nav_link">Контакты</a>
      <a href="" class="btn btn-default btn-square nav_link">Политика конфиденциальности</a>
      <a href="" class="btn btn-default btn-square nav_link">Пользовательское соглашение</a>
    </nav>
  </div>
</footer>
