{% macro item(image, title, views, tags, isWide) %}
  <div class="item {{ 'wide' if isWide }}">
    <div class="item_tags container">
      {% if tags %}
        {% for tag in tags %}
          <a href="inner.html"
            class="btn btn-default tag {{ tag.color }} {{ 'color-white' if tag.whiteText }} {{ 'color-dark' if tag.darkText }}"
            id="">
            {{ tag.title }}
          </a>
        {% endfor %}
      {% endif %}
    </div>
    <a href="article.html" class="btn item_link">
      <span class="btn item_image">
        <img src="{{ image }}" alt="{{ title }}">
      </span>
      <h3 class="item_title">
        <span class="btn">{{ title }}</span>
      </h3>
    </a>
    <p class="item_data">{{ views }}</p>
  </div>
{% endmacro %}
