{% macro itemSmall(image, title, isRenew, views) %}
  <a href="article.html" class="item container">
    <span class="btn item_image">
      <img src="{{ image }}" alt="{{ title }}">
    </span>
    <span class="item_body">
      <h3 class="item_title">
        <span class="btn">{{ title }}</span>
      </h3>
      {% if isRenew %}
        <p class="item_data"><span>{{ views }}</span></p>
      {% else %}
        <p class="item_data">
          <mark>Новость дополняется</mark>
          <span>&nbsp;&nbsp;·&nbsp;&nbsp;</span>
          <span>Обновлено 3 часа назад</span>
        </p>
      {% endif %}
    </span>
  </a>
{% endmacro %}
