{% macro item(image, title, views, tags, isWide) %}
  <div class="item {{ 'wide' if isWide }}">
    <a href="article.html" class="btn item_image">
      <img src="{{ image }}" alt="{{ title }}">
    </a>
    <div class="item_tags container">
      {% if tags %}
        {% for tag in tags %}
          <button type="button"
                  class="btn btn-default tag {{ tag.color }} {{ 'color-white' if tag.whiteText }} {{ 'color-dark' if tag.darkText }}"
                  id="">
            {{ tag.title }}
          </button>
        {% endfor %}
      {% endif %}
    </div>
    <h3 class="item_title">
      <a href="article.html" class="btn">{{ title }}</a>
    </h3>
    <p class="item_data">{{ views }}</p>
  </div>
{% endmacro %}
