{# ! No relative paths needed, all files inside templates/ are available ! #}
{% extends "base.njk" %}
{% import 'components/item.njk' as item %}

{% block title %}

{% endblock %}

{% block banners %}
  <aside class="banners">
    <div class="banners_wrapper">
      <div class="banners_container">
        <!-- Yandex.RTB R-A-589280-3 -->
        <div id="yandex_rtb_R-A-589280-3"></div>
        <script type="text/javascript">
            (function(w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function() {
                    Ya.Context.AdvManager.render({
                        blockId: "R-A-589280-3",
                        renderTo: "yandex_rtb_R-A-589280-3",
                        async: true
                    });
                });
                t = d.getElementsByTagName("script")[0];
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "//an.yandex.ru/system/context.js";
                s.async = true;
                t.parentNode.insertBefore(s, t);
            })(this, this.document, "yandexContextAsyncCallbacks");
        </script>
        <!-- banners -->
        <div class="banners_item">
          <img src="assets/img/banner01.jpg" alt="">
        </div>
        <div class="banners_item">
          <img src="assets/img/banner02.jpg" alt="">
        </div>
        <div class="banners_item">
          <img src="assets/img/banner03.jpg" alt="">
        </div>
      </div>
    </div>
  </aside>
{% endblock %}

{% block header %}
  {% include '../templates/components/articleHeader.njk' %}
{% endblock %}

{% block main %}
  <section class="article">
    <div class="wrapper">
      <figure class="article_image">
        <picture class="article_image-picture">
          <img class="vertical" src="assets/img/atricle-picture.jpg" alt="Владимир Гердо / ТАСС / Scanpix / LETA">
          <img class="horizontal" src="assets/img/article-picture-horizontal.jpg" alt="Владимир Гердо / ТАСС / Scanpix / LETA">
        </picture>
        <!-- figcaption can contain class 'dark' for black text -->
        <figcaption class="article_image-caption">
          <p> <span>Фото: Владимир Гердо / ТАСС</span></p>
          <p> <span>Прочтений: 22 322</span></p>
          <p> <span>Рубрики: история, политика</span></p>
          <p> <span>Опубликовано: 5 мая 2020, в 14:32</span></p>
        </figcaption>
      </figure>
      <article class="article_body">
        <h1 class="article_title">Свидетель Иеговы из Пскова осужден на 6 лет тюрьмы за экстремизм</h1>
        <p class="article_info-top container">
          <button type="button" class="btn btn-default btn-square blue color-white" id="">Прослушать новость</button>
          <span class="share">
            <button class="btn btn-default btn-square share_button" id="">Поделиться</button>
            <span class="share_list">
              <!-- <a href=''> can be <button type='button'> -->
              <a href="#" class="btn btn-default btn-square share_button" id="">Вконтакте</a>
              <a href="#" class="btn btn-default btn-square share_button" id="">Facebook</a>
              <a href="#" class="btn btn-default btn-square share_button" id="">Twitter</a>
              <button type="button" class="btn btn-default btn-square share_button" id="copyLink">Скопировать ссылку</button>
            </span>
          </span>
        </p>
        <div class="article_content">
          <div class="article_content--inner">
            <p>Мэр Москвы Сергей Собянин объявил о смягчении карантина в Москве. С 1 июня Собянин предлагает возобновить работу магазинов непродовольственного сегмента, а также предприятий бытовых услуг, не требующих длительного контакта с посетителями.</p>
            <p>Также, заявил Собянин, в тестовом режиме планируется разрешить прогулки граждан — по графику, «по домам», «чтобы не все сразу» и не было «первомайской демонстрации».
              <a href="">здесь</a>.</p>
            <blockquote class="blockquote">
              <header class="blockquote_header container">
                <div class="blockquote_image">
                  <img src="assets/img/Rectangle 14 (2).jpg" alt="">
                </div>
                <div class="blockquote_source">
                  <cite>Иван Рудской</cite>
                  <p>Блогер</p>
                </div>
              </header>
              <div class="blockquote_body">
                <p>Понимаете, то, что Гордон хочет взять у меня интервью — такая же глупость, как если бы Штрейхер позвонил Левитану во время Великой Отечественной войны и попытался взять.</p>
                <footer>Сообщил нашему изданию блогер</footer>
              </div>
            </blockquote>
            <p>Массовые протесты, сопровождающиеся беспорядками со столкновениями с полицией, длятся в Миннеаполисе с 26 мая, позднее они начались и в других городах США. Жители Миннеаполиса вышли на демонстрации против полицейского произвола после смерти местного жителя, чернокожего охранника Джорджа Флойда.</p>
            <p>Кроме того, сообщил мэр Москвы, с 1 июня начинается постепенный перевод больниц на оказание плановой помощи. Об этом Собянин рассказал во время совещания с президентом РФ Владимиром Путиным, которое проходило в формате видеоконференции.</p>
            <figure>
              <picture class="vertical">
                <img src="assets/img/vertical-picture.jpg" alt="">
              </picture>
              <figcaption>
                <p><span>На фото: Колбы с реагентами для экспресс-тестов на коронавирус в лаборатории</span></p>
                <p><span>Фото: Владимир Гердо / ТАСС</span></p>
              </figcaption>
            </figure>
            <p>Массовые протесты, сопровождающиеся беспорядками со столкновениями с полицией, длятся в Миннеаполисе с 26 мая, позднее они начались и в других городах США. Жители Миннеаполиса вышли на демонстрации против полицейского произвола после смерти местного жителя, чернокожего охранника Джорджа Флойда.</p>
            <figure>
              <picture>
                <img src="assets/img/picture.jpg" alt="">
              </picture>
              <figcaption>
                <p><span>На фото: Колбы с реагентами для экспресс-тестов на коронавирус в лаборатории</span></p>
                <p><span>Фото: Владимир Гердо / ТАСС</span></p>
              </figcaption>
            </figure>
            <p>Массовые протесты, сопровождающиеся беспорядками со столкновениями с полицией, длятся в Миннеаполисе с 26 мая, позднее они начались и в других городах США. Жители Миннеаполиса вышли на демонстрации против полицейского произвола после смерти местного жителя, чернокожего охранника Джорджа Флойда.</p>
          </div>
        </div>
        <div class="article_translation">
          <div class="translation_header container">
            <h2 class="translation_title container">
              <img src="assets/img/translation-logo.svg" alt="Translation icon">
              <span>Трансляция мнений</span>
            </h2>
            <p class="translation_renew">Обновлено только что</p>
            <div class="line animated" style="animation-duration: 5s;"></div>
          </div>
          <div class="translation_body">
            <blockquote class="blockquote">
              <header class="blockquote_header container">
                <div class="blockquote_image">
                  <img src="assets/img/Rectangle 14 (2).jpg" alt="">
                </div>
                <div class="blockquote_source">
                  <cite>Иван Рудской</cite>
                  <p>Блогер</p>
                </div>
              </header>
              <div class="blockquote_body">
                <p>Понимаете, то, что Гордон хочет взять у меня интервью — такая же глупость, как если бы Штрейхер позвонил Левитану во время Великой Отечественной войны и попытался взять.</p>
              </div>
            </blockquote>
            <blockquote class="blockquote">
              <header class="blockquote_header container">
                <div class="blockquote_image">
                  <img src="assets/img/Rectangle 14 (2).jpg" alt="">
                </div>
                <div class="blockquote_source">
                  <cite>Иван Рудской</cite>
                  <p>Блогер</p>
                </div>
              </header>
              <div class="blockquote_body">
                <p>Понимаете, то, что Гордон хочет взять у меня интервью — такая же глупость, как если бы Штрейхер позвонил Левитану во время Великой Отечественной войны и попытался взять.</p>
              </div>
            </blockquote>
            <blockquote class="blockquote">
              <header class="blockquote_header container">
                <div class="blockquote_image">
                  <img src="assets/img/Rectangle 14 (2).jpg" alt="">
                </div>
                <div class="blockquote_source">
                  <cite>Иван Рудской</cite>
                  <p>Блогер</p>
                </div>
              </header>
              <div class="blockquote_body">
                <p>Понимаете, то, что Гордон хочет взять у меня интервью — такая же глупость, как если бы Штрейхер позвонил Левитану во время Великой Отечественной войны и попытался взять.</p>
              </div>
            </blockquote>
            <blockquote class="blockquote">
              <header class="blockquote_header container">
                <div class="blockquote_image">
                  <img src="assets/img/Rectangle 14 (2).jpg" alt="">
                </div>
                <div class="blockquote_source">
                  <cite>Иван Рудской</cite>
                  <p>Блогер</p>
                </div>
              </header>
              <div class="blockquote_body">
                <p>Понимаете, то, что Гордон хочет взять у меня интервью — такая же глупость, как если бы Штрейхер позвонил Левитану во время Великой Отечественной войны и попытался взять.</p>
              </div>
            </blockquote>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="compilation day">
    <div class="wrapper">
      <div class="compilation_header">
        <h2 class="compilation_title">Похожие новости</h2>
      </div>
      <div class="compilation_body container">
        {{ item.item('assets/img/image 17.jpg',
          'В России выявили более 7900 новых случаев заражения коронавирусом',
          '29 тыс. прочтений',
          [{color: 'yellow', darkText: true, whiteText: false, title: 'Выбор редакции'},
            {color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
        }}
        {{ item.item('assets/img/image 17 (1).jpg',
          'У Михаила Мишустина обнаружен коронавирус',
          '29 тыс. прочтений')
        }}
        {{ item.item('assets/img/image 17 (2).jpg',
          'Европейские страны планируют ослабить ограничения из-за эпидемии',
          '29 тыс. прочтений',
          [{color: 'green', whiteText: true, darkText: false, title: 'Экономика'}])
        }}
        {{ item.item('assets/img/image 17 (3).jpg',
          'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
          '29 тыс. прочтений',
          [{color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
        }}
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% include 'components/footer.njk' %}
{% endblock %}

{# include other blocks as necessary #}
