{# ! No relative paths needed, all files inside templates/ are available ! #}
{% extends "base.njk" %}
{% import 'components/item.njk' as item %}

{% block title %}

{% endblock %}

{% block banners %}
{% endblock %}

{% block header %}
  {% include 'components/headerInner.njk' %}
{% endblock %}

{% block main %}
  <h1 class="visually-hidden">Информационное Агенство Полоса</h1>

  <section class="compilation today">
    <div class="wrapper">
      <div class="compilation_header container">
        <h2 class="compilation_title">Оффтоп</h2>
      </div>
      <div class="compilation_body container">
        {{ item.item('assets/img/image 17.jpg',
          'В России выявили более 7900 новых случаев заражения коронавирусом',
          '29 тыс. прочтений',
          [{color: 'yellow', darkText: true, title: 'Выбор редакции'},
            {color: 'red', whiteText: true, title: 'Важно'}], true)
        }}
        {{ item.item('assets/img/image 17 (1).jpg',
          'У Михаила Мишустина обнаружен коронавирус',
          '29 тыс. прочтений')
        }}
        {{ item.item('assets/img/image 17 (2).jpg',
          'Европейские страны планируют ослабить ограничения из-за эпидемии',
          '29 тыс. прочтений',
          [{color: 'green', whiteText: true, title: 'Экономика'},
            {color: 'red', whiteText: true, title: 'Важно'},
            {color: 'blue', whiteText: true, title: 'Мир'},
            {color: 'blue', whiteText: true, title: 'Политика'},
            {color: 'yellow', whiteText: true, title: 'Коронавирус'}])
        }}
        {{ item.item('assets/img/image 17 (3).jpg',
          'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
          '29 тыс. прочтений',
          [{color: 'red', whiteText: true, title: 'Важно'}])
        }}
        {{ item.item('assets/img/image 17 (2).jpg',
          'Европейские страны планируют ослабить ограничения из-за эпидемии',
          '29 тыс. прочтений',
          [{color: 'green', whiteText: true, title: 'Экономика'}])
        }}
        {{ item.item('assets/img/image 17 (3).jpg',
          'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
          '29 тыс. прочтений',
          [{color: 'red', whiteText: true, title: 'Важно'}], true)
        }}
      </div>
    </div>
  </section>

  <section class="compilation yesterday">
    <div class="wrapper">
      <div class="compilation_header container">
      <h2 class="compilation_title">29 февраля</h2>
      <p class="compilation_subtitle">Вчера</p>
    </div>
      <div class="compilation_body container">
      {{ item.item('assets/img/image 17.jpg',
        'В России выявили более 7900 новых случаев заражения коронавирусом',
        '29 тыс. прочтений',
        [{color: 'yellow', darkText: true, whiteText: false, title: 'Выбор редакции'},
          {color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
      {{ item.item('assets/img/image 17 (1).jpg',
        'У Михаила Мишустина обнаружен коронавирус',
        '29 тыс. прочтений')
      }}
      {{ item.item('assets/img/image 17 (2).jpg',
        'Европейские страны планируют ослабить ограничения из-за эпидемии',
        '29 тыс. прочтений',
        [{color: 'green', whiteText: true, darkText: false, title: 'Экономика'}],
        true)
      }}
      {{ item.item('assets/img/image 17 (3).jpg',
        'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
        '29 тыс. прочтений',
        [{color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
      {{ item.item('assets/img/image 17 (1).jpg',
        'У Михаила Мишустина обнаружен коронавирус',
        '29 тыс. прочтений')
      }}
      {{ item.item('assets/img/image 17 (2).jpg',
        'Европейские страны планируют ослабить ограничения из-за эпидемии',
        '29 тыс. прочтений',
        [{color: 'green', whiteText: true, darkText: false, title: 'Экономика'}])
      }}
      {{ item.item('assets/img/image 17 (3).jpg',
        'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
        '29 тыс. прочтений',
        [{color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
    </div>
    </div>
  </section>

  <section class="compilation day">
    <div class="wrapper">
      <div class="compilation_header container">
      <h2 class="compilation_title">28 февраля</h2>
      <p class="compilation_subtitle">Позавчера</p>
    </div>
      <div class="compilation_body container">
      {{ item.item('assets/img/image 17.jpg',
        'В России выявили более 7900 новых случаев заражения коронавирусом',
        '29 тыс. прочтений',
        [{color: 'yellow', darkText: true, whiteText: false, title: 'Выбор редакции'},
          {color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
      {{ item.item('assets/img/image 17 (1).jpg',
        'У Михаила Мишустина обнаружен коронавирус',
        '29 тыс. прочтений')
      }}
      {{ item.item('assets/img/image 17 (2).jpg',
        'Европейские страны планируют ослабить ограничения из-за эпидемии',
        '29 тыс. прочтений',
        [{color: 'green', whiteText: true, darkText: false, title: 'Экономика'}])
      }}
      {{ item.item('assets/img/image 17 (3).jpg',
        'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
        '29 тыс. прочтений',
        [{color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
    </div>
    </div>
  </section>

  <section class="compilation day">
    <div class="wrapper">
      <div class="compilation_header container">
      <h2 class="compilation_title">27 февраля</h2>
      <p class="compilation_subtitle">3 дня назад</p>
    </div>
      <div class="compilation_body container">
      {{ item.item('assets/img/image 17.jpg',
        'В России выявили более 7900 новых случаев заражения коронавирусом',
        '29 тыс. прочтений',
        [{color: 'yellow', darkText: true, whiteText: false, title: 'Выбор редакции'},
          {color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
      {{ item.item('assets/img/image 17 (1).jpg',
        'У Михаила Мишустина обнаружен коронавирус',
        '29 тыс. прочтений')
      }}
      {{ item.item('assets/img/image 17 (2).jpg',
        'Европейские страны планируют ослабить ограничения из-за эпидемии',
        '29 тыс. прочтений',
        [{color: 'green', whiteText: true, darkText: false, title: 'Экономика'}])
      }}
      {{ item.item('assets/img/image 17 (3).jpg',
        'Крупнейшие сталелитейные компании России объявили о сокращении инвестиций',
        '29 тыс. прочтений',
        [{color: 'red', whiteText: true, darkText: false, title: 'Важно'}])
      }}
    </div>
    </div>
  </section>

  <section class="more container wrapper">
    <p class="more_empty" style="display: none;">Извините, больше новостей нет</p>
    <!-- onclick can be deleted or modified -->
    <button class="btn btn-default btn-square" type="button" id="loadMore"
            onclick="setTimeout( () => {
                console.log(this.parentNode.querySelector('p'));
              this.parentNode.querySelector('p').style.display = 'block';
              this.style.display = 'none';
            }, 1000)"
    ><span>Загрузить ещё</span></button>
  </section>

{% endblock %}

{% block footer %}
  {% include "components/footer.njk" %}
{% endblock %}


{# include other blocks as necessary #}
