//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

// include-media module
@import "../../node_modules/include-media/dist/include-media";
// include-media plugin
@import "modules/_im-to-em.scss";

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import "base/_vars.scss";

// Common animations
@import "modules/_animations.scss";
@import "modules/_clearfix.scss";
// Other resets
@import "modules/_defaults.scss";
// Misc, selection
@import "modules/_misc.scss";
// normalize.css
@import "modules/_normalize.scss";
// Formatting for print
@import "modules/_print.scss";
// Fonts
@import "modules/_typography.scss";

//----------------------------------*\
// LAYOUT
//----------------------------------*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  background: $color-white;
  color: $color-black;
  font-size: 16px;
  line-height: 1.3;
  min-height: 100vh;
  font-family: $font-family-primary;
  &.dark {
    background: $color-gray1;
    color: $color-white;
    .wrapper {
      background: #141414;
    }
    .header_logo {
      img {
        filter: invert(1);
      }
    }
    .header {
      .menu, .language, .notification {
        background: $color-gray1;
        color: $color-white;
        &_item {
          &:not(:last-child) {
            border-bottom-color: $color-gray2;
          }
        }
        &_link {
          &:hover, &:focus {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .header, .main .nav, .compilation:not(:last-child), .article_content, .article_socials, .compilation .item {
      border-bottom-color: $color-gray1;
    }
    .btn-default {
      background: $color-gray1;
      color: $color-white;
    }
    .btn-icon {
      img {
        filter: invert(1);
      }
      &:hover, &:focus {
        background: $color-gray1;
      }
    }
    .compilation {
      &_subtitle {
        color: $color-gray6;
      }
    }
    .article {
      &_image {
        background: $color-gray1;
      }

      &_content {
        figure {
          img {
            background: $color-gray1;
          }
        }
      }
      &_views {
        border-color: $color-gray1;
      }
    }
    .item {
      &_image {
        img {
          background: $color-gray1;
        }
      }
    }
    .main {
      .tag {
        &.current {
          &:after {
            filter: invert(0.92);
          }
        }
        img {
          filter: invert(1);
        }
      }
    }
    .tag {
      background: transparent;
      &:before {
        background: rgba(255,255,255,.1);
      }
    }
    .compilation {
      .rate_btn {
        background: transparent;
        border-color: $color-gray1;
      }
    }
  }
  &.light {
    background: $color-gray6;
    color: $color-black;
    .wrapper {
      background: $color-white;
    }
    .btn-icon img {
      filter: invert(0);
    }
    .header_logo {
      img {
        filter: invert(0);
      }
    }
    .header {
      .menu, .language, .notification {
        background: $color-white;
        color: $color-black;
        &_item {
          &:not(:last-child) {
            border-bottom-color: $color-gray5;
          }
        }
        &_link {
          &:hover, &:focus {
            background: rgba(0, 0, 0, 0.04);
          }
        }
      }
    }
    .header, .main .nav, .compilation:not(:last-child), .article_content, .article_socials, .compilation .item {
      border-bottom-color: $color-gray5;
    }
    .btn-default {
      background: $color-gray6;
      color: $color-gray1;
    }
    .btn-icon {
      &:hover, &:focus {
        background: $color-gray6;
      }
    }
    .article {
      &_image {
        background: $color-gray6;
      }

      &_content {
        figure {
          img {
            background: $color-gray6;
          }
        }
      }
      &_views {
        border-color: $color-gray1;
      }

    }
    .item {
      &_image {
        img {
          background: $color-gray6;
        }
      }
    }
    .main {
      .tag {
        &.current {
          &:after {
            filter: invert(0);
          }
        }
        img {
          filter: invert(0);
        }
      }
    }
    .tag {
      background: transparent;
      &:before {
        background: rgba(0,0,0,.05);
      }
    }
    .compilation {
      .rate_btn {
        background: transparent;
        border-color: $color-gray5;
      }
      &_subtitle {
        color: $color-gray1;
      }
    }
  }
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}
picture {
  display: block;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3125em;
}
p {
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1.0625rem;
}
h6 {
  font-size: 1rem;
}
a {
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.wrapper {
  width: 100%;
  padding: 0 40px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  &-default {
    border-radius: 48px;
    background: $color-gray6;
    padding: 5px 12px;
    color: $color-gray1;
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(0,0,0,.05);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }
    &:hover, &:focus {
      &:before {
        opacity: 1;
      }
    }
    &.yellow {
      background: $color-yellow!important;
    }
    &.pink {
      background: $color-pink!important;
    }
    &.green {
      background: $color-green!important;
    }
    &.purple {
      background: $color-purple!important;
    }
    &.gray {
      background: $color-gray3!important;
    }
    &.blue {
      background: $color-blue!important;
    }
    &.lightblue {
      background: $color-lightblue!important;
    }
    &.red {
      background: $color-red!important;
    }
    &.fb {
      background: $color-fb!important;
    }
    &.tw {
      background: $color-tw!important;
    }
    &.vk {
      background: $color-vk!important;
    }
    &.color-white {
      color: $color-white!important;
    }
    &.color-dark {
      color: $color-black!important;
    }
  }
  &-square {
    border-radius: 8px;
  }
  &-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    background: transparent;
    &:hover, &:focus {
      background: $color-gray6;
    }
  }
}
.container {
  display: flex;
}
.visually-hidden {
  color: transparent;
  background: transparent;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
}

.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  border-bottom: 1px solid $color-gray5;
  flex-wrap: wrap;
  &_logo {
    height: 40px;
    transition: opacity .3s ease-in-out;
    margin-right: 16px;
    img {
      height: 100%;
    }
    &:hover, &:focus {
      opacity: .8;
      transition: opacity .3s ease-in-out;
    }
  }
  &_language, &_menu, &_notification {
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
  &_language, &_notification {
    .btn-icon {
      margin-left: 8px;
    }
  }
  .menu, .language, .notification {
    position: absolute;
    z-index: 100;
    top: calc(100% + 4px);
    background: $color-white;
    color: $color-black;
    border-radius: 8px;
    overflow: hidden;
    width: 240px;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
    display: none;
    right: 0;
    &_item {
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid $color-gray5;
      }
    }
    &_link {
      display: block;
      width: 100%;
      padding: 13px 16px;
      text-align: left;
      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.04);
      }
    }
    &.open {
      display: block;
    }
  }
  .notification {
    &_empty {
      padding: 16px;
      opacity: .5;
      text-align: center;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 18px;
    }
    &_list {
      display: none;
    }
    &_item {
      padding: 13px 16px;
    }
  }
  &_functional {
    margin-left: 16px;
  }
  &_tags {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    .tag {
      margin: 0 6px 0;
      display: inline-flex;
      &:first-child {
        margin-left: 0;
      }
      &-wrapper {
        width: auto;
        display: inline-block;
        position: relative;
      }
      &-button {
        white-space: nowrap;
        padding: 5px 16px;
        line-height: 22px;
        background: transparent;
        margin: 0 0 0 6px;
        display: flex;
        align-items: center;
        img {
          margin: auto 0 auto 8px;
          width: 12px;
          height: 8px;
        }
      }
      &_list {
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        margin: 0;
        padding: 0;
        width: 240px;
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        overflow: hidden;
        background: $color-white;
        z-index: 100;
        display: none;
        &.open {
          display: block;
        }
        .tag {
          width: 100%;
          border-radius: 0;
          margin: 0;
          padding: 13px 16px;
          &:not(:last-of-type) {
            border-bottom: 1px solid $color-gray5;
          }
        }
      }
    }
  }
  &--article {
    padding: 16px 0;
    justify-content: space-between;
    .header_logo {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      height: 40px;
      margin-right: 16px;
      padding: 4px 0;
    }
    .header_close {
      background: transparent;
      padding: 10px 13px;
      margin-left: auto;
      span {
        visibility: hidden;
        position: absolute;
        font-size: 0;
        line-height: 0;
      }
      .arrow {
        display: none;
      }
    }
  }
}
.tag {
  white-space: nowrap;
  padding: 5px 16px;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  &.current {
    position: relative;
    display: flex;
    &:after {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin: -3px -14px -3px 12px;
      background: url("../img/Subtract.svg") no-repeat center / 100%;
    }
  }
}
.footer {
  padding: 40px 0;
  border-top: 1px solid $color-gray5;
  margin-top: auto;
  flex-direction: row;
  &_info {
    width: 62.5%;
    max-width: 640px;
  }
  &_logo {
    margin-bottom: 40px;
    height: 32px;
  }
  &_about {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 1em;
  }
  &_copyright {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 21px;
  }
  &_nav {
    width: 37.5%;
    max-width: 245px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: -8px;
    .nav_link {
      margin: 0 0 8px;
      white-space: nowrap;
      font-size: 16px;
      line-height: 22px;
      padding: 5px 12px;
    }
  }
}
.compilation {
  padding: 29px 0 0;
  &_header {
    margin-bottom: 28px;
    align-items: baseline;
  }
  &_title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px;
  }
  &_subtitle {
    margin-top: 2px;
    color: $color-gray1;
    opacity: 0.5;
    font-size: 18px;
    line-height: 23px;
    margin-left: 16px;
    margin-bottom: 0;
  }
  .rate {
    &_btn {
      margin-left: 12px;
      line-height: 22px;
      font-size: 16px;
      padding: 4px 15px;
      background: transparent;
      border: 1px solid $color-gray6;
      height: 32px;
      &.disable {
        cursor: default;
        &:before {
          display: none;
        }
      }
      span {
        display: inline-block;
      }
    }
    &_now {
      margin-left: 8px;
      &.green {
        color: $color-green;
      }
      &.red {
        color: $color-red;
      }
    }
  }
  &_body {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -20px;
    width: calc(100% + 40px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    .item {
      //width: calc(100% / 4);
      padding: 0 20px 40px;
      &.wide {
        //width: calc(100% / 2);
        grid-column-start: auto;
        grid-column-end: span 2;
        .item_title {
          font-size: 24px;
          line-height: 31px;
        }
      }
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid $color-gray5;
  }

  .see_all.btn {
    line-height: 22px;
    background: rgba(0, 0, 0, 0.1)!important;
    color: inherit;
  }
  &.yellow {
    background: $color-yellow!important;
  }
  &.pink {
    background: $color-pink!important;
  }
  &.green {
    background: $color-green!important;
  }
  &.purple {
    background: $color-purple!important;
  }
  &.gray {
    background: $color-gray3!important;
  }
  &.blue {
    background: $color-blue!important;
  }
  &.lightblue {
    background: $color-lightblue!important;
  }
  &.red {
    background: $color-red!important;
  }
  &.color-white {
    color: $color-white!important;
  }
  &.color-dark {
    color: $color-black!important;
  }
}
.last {
  padding: 0;
  border-bottom: 1px solid $color-gray5;
  .item {
    padding: 24px 40px;
    align-items: flex-start;
    &:not(:last-of-type) {
      border-right: 1px solid $color-gray5;
    }
    &_image {
      width: 64px;
      min-width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 16px 0 0;
    }
    &_title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 8px;
    }
    &_data {
      font-size: 14px;
      line-height: 18px;
      span {
        opacity: .5;
      }
      mark {
        background: transparent;
        color: $color-darkred;
      }
    }
  }
  + .compilation {
    padding-top: 40px;
  }
}
.item {
  position: relative;
  &_image {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    overflow: hidden;
    height: 424px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background: $color-gray6;
      transition: transform .2s ease-in-out;
    }
    &:hover, &:focus {
      img {
        transform: scale(1.05);
        transition: transform .2s ease-in-out;
      }
    }
  }
  &_tags {
    width: calc(100% - 40px);
    flex-flow: wrap-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    transform: translateY(-100%);
    padding: 0 8px 8px 16px;
    top: 424px;
    .tag {
      margin-right: 8px;
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 18px;
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
  &_title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 8px;
    .btn {
      transition: text-decoration .3s ease-in-out;
      &:hover, &:focus {
        text-decoration: underline;
        transition: text-decoration .3s ease-in-out;
      }
    }
  }
  &_data {
    font-size: 14px;
    line-height: 18px;
    opacity: .5;
    margin-bottom: 0;
  }
}
.more {
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  &_empty {
    margin-bottom: 0;
  }
}

.article {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 80px calc(100% - 640px - 80px);
  display: flex;
  border-bottom: 1px solid $color-gray5;
  &_image {
    position: absolute;
    top: 40px;
    left: 40px;
    overflow: hidden;
    margin: 0;
    width: auto;
    height: auto;
    max-height: calc(100vh - 80px);
    &-picture {
      width: 100%;
      height: 100%;
      max-height: 612px;
      background: $color-gray6;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-caption {
      color: $color-white;
      &.dark {
        color: $color-black;
      }
      p {
        border-bottom: 1px solid $color-gray5;
        padding: 9px 0;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        opacity: .5;
      }
    }
  }
  &_body {
    padding: 0;
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
  }
  &_title {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 41px;
  }
  &_info {
    &-top {
      margin-bottom: 16px;
      flex-wrap: wrap;
      .btn {
        margin-bottom: 8px;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    &-bottom {
      padding: 16px 0;
      margin: 0;
      opacity: .5;
      font-size: 16px!important;
      line-height: 1.375;
      span {
        display: inline-block;
        &.divider {
          margin: 0 8px;
        }
      }
    }
  }
  &_views {
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 48px;
    padding: 4px 15px;
    margin-bottom: 8px;
    line-height: 22px;
  }
  &_content {
    p {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 24px;
    }
    h2, h3, h4, h5, h6 {
      padding: 0 0 24px;
      margin: 0;
    }
    h2 {
      font-size: 24px;
      line-height: 31px;
    }
    figure {
      margin: 0 0 24px;
      width: 100%;
      picture {
        width: 100%;
        background: $color-gray6;
        img {
          margin: 0 auto;
          height: 100%;
          width: auto;
        }
      }
      figcaption {
        p {
          border-bottom: 1px solid $color-gray5;
          padding: 9px 0;
          margin: 0;
          opacity: .5;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  &_socials {
    padding: 0 0 40px;
    border-bottom: 1px solid $color-gray5;
    .socials {
      &_title {
        margin-bottom: 24px;
        font-size: 24px;
      }
      &_list {
        flex-wrap: wrap;
        .btn {
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
  &_translation {
    overflow-x: hidden;
    .translation {
      &_header {
        border-bottom: 1px solid $color-gray5;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .line {
          display: block;
          height: 1px;
          background: $color-darkred;
          width: 320px;
          position: absolute;
          bottom: -1px;
          left: -320px;
          &.animated {
            animation-name: line;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
          }
        }
      }
      &_title {
        margin-bottom: 0;
        align-items: center;
        color: $color-darkred;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        img {
          width: 20px;
          height: 19px;
          min-width: 20px;
          margin-right: 10px;
        }
      }
      &_renew {
        margin-bottom: 0;
        margin-left: 16px;
        font-size: 14px;
        line-height: 18px;
        opacity: .5;
      }
      &_body {
        .blockquote {
          border-top: none;
          margin-bottom: 0;
        }
      }
    }
  }
}
.banner {
  padding: 40px 0;
  border-bottom: 1px solid $color-gray5;
  &_block {
    background: $color-gray3;
    margin: 0 auto;
  }
}
.banners {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24%;
  border-left: 1px solid $color-gray5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_wrapper {
    max-height: 100%;
  }
  &_container {
    flex-direction: column;
  }
  &_item {
    background: $color-gray6;
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  + .content-wrapper {
    padding-right: 24%;
    padding-left: 0;
  }
}
.blockquote {
  margin: 0 0 24px;
  padding: 24px 0 12px;
  border: solid $color-gray5;
  border-width: 1px 0 1px 0;
  &_image {
    align-self: flex-start;
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 16px 0 0;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
    }
  }
  &_body {
    font-size: 18px;
    line-height: 23px;
    p {
      margin-bottom: 16px;
    }
    header {
      cite {
        color: $color-darkblue;
        font-style: normal;
        display: block;
        margin-bottom: 2px;
      }
      p {
        opacity: .5;
        margin-bottom: 20px;
      }
    }
    footer {
      opacity: .5;
      padding-bottom: 12px;
    }
  }
}

.info {
  padding: 56px 0;
  &_title {
    width: 100%;
    max-width: 640px;
    margin: 0 0 24px;
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
  }
  &_body {
    width: 100%;
    max-width: 640px;
    p {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 28px;
    }
  }
}

@keyframes line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

//@media screen and (max-width: 1024px) and (orientation: landscape) {
//  .compilation_header {
//    flex-wrap: wrap;
//  }
//  .article {
//    &_image {
//      width: 40%;
//      max-width: 40%;
//    }
//    &_body {
//      padding: 0 48px 50px calc(100vh / 212 * 141 + 48px);
//    }
//    .header {
//      width: 100%;
//    }
//  }
//  .footer {
//    width: 100%;
//    margin: 0 auto;
//    padding: 40px 0;
//
//    &_info, &_nav {
//      width: 100%;
//      font-size: 75%;
//    }
//    &_nav {
//      margin-bottom: 16px;
//    }
//  }
//}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 18px;
  }
  .wrapper {
    padding: 0 16px;
  }
  .more {
    padding: 24px 16px;
  }
  .article {
    overflow-x: hidden;
    &_image {
      position: absolute;
      width: 100%;
      top: 96px;
      left: 0;
      max-height: 456px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    &_body {
      position: static;
      width: 100%;
    }
    &_title {
      padding-top: 16px;
    }
    .header {
      padding: 16px 0;
      &_logo {
        height: 32px;
      }
    }
  }
  .header {
    padding: 16px 0;
    margin: 0 16px;
    width: calc(100% - 32px);
    &_logo {
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &_functional {
      margin-left: 0;
      width: 100%;
      justify-content: space-between;
      .header_menu {
        .menu {
          right: auto;
          left: 0;
        }
      }
    }
    &_language {
      display: none;
    }
    width: 100%;
    justify-content: center;
    padding: 24px 16px;
    .wrapper {
      padding: 0;
    }
    &--article {
      padding: 24px 0;
      width: calc(100% - 32px);
      .wrapper {
        padding: 0;
      }
      .header_logo {
        opacity: 1;
        margin: 0 auto;
        height: 24px;
      }
      .header_close {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        padding: 12px;
        transform: translateY(-50%);

        svg {
          display: none;

          &.arrow {
            display: block;
          }
        }
      }
    }
  }
  .compilation {
    padding: 24px 0 0;
    margin: 0 auto;
    &:not(:last-child) {
      border-bottom: none;
    }
    &_title {
      font-size: 22px;
      line-height: 28px;
    }
    &_subtitle {
      font-size: 18px;
      line-height: 23px;
    }
    &_header {
      margin-bottom: 24px;
      padding-left: 0;
      padding-right: 0;
      .btn {
        margin-left: auto;
        margin-top: 8px;
      }
    }
    &_body {
      padding-left: 0;
      padding-right: 0;
      border-bottom: none;
      padding-bottom: 0;
      width: 100%;
      margin: 0;
      display: block;
    }
    .item {
      width: 100%;
      position: relative;
      padding-left: calc(48px + 16px);
      border-bottom: 1px solid $color-gray5;
      padding-bottom: 24px;
      min-height: 97px;
      margin: 0 0 24px;
      &.wide {
        width: 100%;
        .item_title {
          font-size: 18px;
          line-height: 23px;
        }
      }
      &_image {
        width: 48px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        overflow: hidden;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      &_title {
        font-size: 18px;
        line-height: 23px;
      }
      &_data {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .more {
      padding: 24px 0;
      margin: 0 auto;
      text-align: center;
      .btn {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .footer {
    margin: 0 16px;
    padding: 24px 0 72px;
    .wrapper {
      flex-direction: column-reverse;
      padding: 0;
    }
    &_info, &_nav {
      width: 100%;
      font-size: 16px;
      line-height: 21px;
    }
    &_nav {
      margin-bottom: 16px;
      max-width: none;
      flex-flow: wrap;
      justify-content: flex-start;
      .nav_link {
        margin-right: 8px;
      }
    }
    &_logo {
      display: none;
    }
  }
  .article {
    padding: 0 16px;
    margin-top: -1px;
    border-bottom: none;
    .wrapper {
      padding: 0;
    }
    &_image {
      position: static!important;
      width: calc(100% + 32px)!important;
      margin: 0 -16px;
      &-picture {
        height: 264px!important;
      }
      &-caption {
        padding: 9px 16px 17px;
        font-size: 14px;
        line-height: 18px;
      }
    }
    &_title {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
    }
    &_info {
      &-top {
        margin-bottom: 16px;
      }
      &-bottom {
        font-size: 16px!important;
        line-height: 21px!important;
      }
    }
    &_views {
      padding: 0;
      border: none;
      margin: 0;
      opacity: .5;
      font-size: 18px;
      line-height: 23px;
    }
    &_content {
      margin-bottom: 32px;
      &--inner {
        width: 100%;
        max-width: 100%;
      }
      p {
        font-size: 18px;
        line-height: 23px;
      }
      h2, h3, h4, h5, h6 {
        padding: 16px 0;
      }
      h2 {
        font-size: 20px;
        line-height: 26px;
      }
      figure {
        margin-bottom: 32px;
        picture {
          width: calc(100% + 32px);
          margin: 0 -16px;
        }
        figcaption {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &_socials {
      padding-bottom: 32px;
      .socials {
        &_title {
          padding-bottom: 16px;
          font-size: 20px;
          margin-bottom: 0;
        }
        &_list {
          margin-left: -4px;
          width: calc(100% + 8px);
          .btn {
            font-size: 16px;
            line-height: 22px;
            margin: 0 4px 8px;
          }
        }
      }
    }
  }
  .item {
    &_title, &_subtitle {
      font-size: 18px;
      line-height: 23px;
    }
    &.wide {
      .item_title, &_subtitle {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  .banners {
    + .content-wrapper {
      padding-right: 0;
    }
  }
  .blockquote {
    &_image {
      width: 48px;
      min-width: 48px;
      height: 48px;
    }
  }
  .rate, .nav, .item_tags, .article_info-top .tag, .last, .banners, .article_translation .translation_renew {
    display: none;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: $color-white;
    .header_logo, .footer_logo {
      img {
        filter: invert(1);
      }
    }
    .header {
      .menu, .language, .notification {
        background: $color-gray1;
        color: $color-white;
        &_item {
          &:not(:last-child) {
            border-bottom-color: $color-gray2;
          }
        }
        &_link {
          &:hover, &:focus {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
      &--article {
        .header_close {
          svg {
            filter: invert(1);
          }
        }
      }
    }
    .header, .main .nav, .compilation:not(:last-child), .article_content, .article_socials, .compilation .item, .banner, .article, .article_translation .translation_header, .last {
      border-bottom-color: $color-gray1;
    }
    .header {
      .nav {
        .tag {
          background: transparent;
          &-button {
            img {
              filter: invert(1);
            }
          }
          &_list {
            background: $color-gray1;
            .tag {
              display: block;
              width: 100%;
              padding: 13px 16px;
              text-align: left;
              margin: 0;
              &:not(:last-of-type) {
                border-bottom-color: $color-gray2;
              }
            }
          }
        }
      }
    }
    .last {
      .item {
        &:not(:last-of-type) {
          border-right-color: $color-gray1;
        }
      }
    }
    .blockquote {
      border-color: $color-gray1;
    }
    .banners {
      border-left-color: $color-gray1;
    }
    .footer {
      border-top-color: $color-gray1;
    }
    .btn-default {
      background: $color-gray1;
      color: $color-white;
    }
    .btn-icon {
      img {
        filter: invert(1);
      }
      &:hover, &:focus {
        background: $color-gray1;
      }
    }
    .compilation {
      .rate_btn {
        border-color: $color-gray1;
      }
      &_subtitle {
        color: $color-gray6;
      }
    }
    .article {
      &_image {
        &-picture {
          background: $color-gray1;
        }
      }
      &_content {
        figure {
          picture {
            background: $color-gray1;
          }
          img {
            background: $color-gray1;
          }
        }
      }
      &_views {
        border-color: $color-gray1;
      }
    }
    .item {
      &_image {
        img {
          background: $color-gray1;
        }
      }
    }
    .main {
      .tag {
        &.current {
          &:after {
            filter: invert(0.92);
          }
        }
      }
    }
    .tag {
      &:before {
        background: rgba(255,255,255,.1);
      }
    }
  }
}

